<div class="header bg-gradient-green2 pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<mdb-card class="chat-room">
    <mdb-card-body class="grey lighten-3">
        <!-- Grid row -->
        <div class="row px-lg-2 px-2">
            <!-- Lista de contatos -->
            <div class="col-md-6 col-xl-4 px-0">
                <!-- <h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6> -->
                <div class="white z-depth-1 px-3 pt-3 pb-0">
                    <ul *ngFor="let item of listLastMessages" class="list-unstyled friend-list">
                        <li class="p-2">
                            <a href="#" class="d-flex justify-content-between">
                                 <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.webp" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">  -->
                                <div class="text-small">
                                    <strong>{{item.nameFrom}}</strong>
                                    <p class="last-message text-muted">{{item.message}}</p>
                                </div>
                                 <div *ngIf="checkMessageNow(item)" class="chat-footer">
                                    <p class="text-smaller text-muted mb-0">Just now</p>
                                    <mdb-badge danger="true" class="float-right"></mdb-badge>
                                </div>  
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Fim Lista de contatos -->

            <!-- Lista de mensagens -->
            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">
                <div class="chat-message">
                    <ul class="list-unstyled chat">
                        <li class="d-flex justify-content-between mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1">
                            <div class="chat-body white p-3 ml-2 z-depth-1">
                                <div class="header">
                                    <strong class="primary-font">Brad Pitt</strong>
                                    <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 12 mins ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between mb-4">
                            <div class="chat-body white p-3 z-depth-1">
                                <div class="header">
                                    <strong class="primary-font">Lara Croft</strong>
                                    <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 13 mins ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                </p>
                            </div>
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="avatar rounded-circle d-flex align-self-start ml-2 z-depth-1">
                        </li>
                        <li class="d-flex justify-content-between mb-4 pb-3">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1">
                            <div class="chat-body white p-3 ml-2 z-depth-1">
                                <div class="header">
                                    <strong class="primary-font">Brad Pitt</strong>
                                    <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 12 mins ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                        <li class="white">
                            <div class="form-group basic-textarea">
                                <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
                            </div>
                        </li>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </ul>

                </div>

            </div>
            <!-- Fim Lista de mensagens -->

        </div>
        <!-- Grid row -->
    </mdb-card-body>
</mdb-card>