<!-- <div class="header bg-gradient-green2 pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div> -->
<div class="page-content container-fluid mt-4">

    <div class="row" >
      <div class="col-md-12 col-sm-12 mb-4" >
        <div class="card shadow" >
          <div class="card-header-custom d-flex justify-content-end">
            <!-- <button type="submit" class="btn btn-secondary btn-edit-pass">Editar senha</button> -->
            <!-- <img class="logo" src="assets/img/brand/logo-horizontal-verde.png" routerLink="/login"> -->
            <h2>
              {{this.phoneClient?.name}}
            </h2>
          </div>
          <div class="card-body">



            <div class="chat-room" *ngIf="listLastMessages.length > 0">
                <div class=" lighten-3">
                    <!-- Grid row -->
                    <div class="row px-lg-2 px-2">  
                        <!-- Lista de contatos -->
                        <div class="col-md-6 col-xl-4 px-0">  
                            <!-- <h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6> -->
                            <div class=" px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue box-list">
                                <ul *ngFor="let item of listLastMessages" class="list-unstyled friend-list">
                                    <li [ngClass]="{'active msg-select': item.checked}" class="p-1">
                                    <a (click)="selectDialog(item)" class="d-flex justify-content-between">
                                        <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.webp" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"> -->
                                        <div class="text-small">
                                            <strong>{{getName(item)}}</strong>
                                            <p class="last-message text-muted">
                                                {{item.message && item.message.length > 70 ? item.message.substring(0, 70) + '...' : item.message }}
                                            </p>
                                        </div>
                                        <div *ngIf="checkMessageNow(item); else messageTime" class="chat-footer">
                                            <p class="text-smaller text-muted mb-0">Agora</p>
                                            <mdb-badge danger="true" class="float-right"></mdb-badge>
                                        </div>
                                        <ng-template #messageTime>
                                            <div class="chat-footer">
                                                <p class="text-smaller text-muted mb-0">{{convertTimeZoneLastMessage(item.dateTime)}}</p>
                                            </div>
                                        </ng-template>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                
                        </div>
                        <!-- Grid column -->
            
                        <!-- Grid column -->
                        <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0 teste">  
                            <div class="chat-message chat-1 scrollbar-light-blue message-list" #scrollMe
                            [scrollTop]="selectedMessagesOnChat.length == 0 ? 0 : scrollMe.scrollHeight">
                                <ul *ngFor="let item of selectedMessagesOnChat" class="list-unstyled">
                                    <!-- Message out -->
                                    <li *ngIf="item.phoneFrom == phoneMain.phone" class="justify-content-between mb-4">
                                        <div class="chat-body chat-out p-3 ml-6 z-depth-1">
                                            <div class="header">
                                                <strong class="primary-font">{{ phoneMain.name }}</strong>
                                                <small class="pull-right text-muted">
                                                    <mdb-icon *ngIf="!item.wasVisible" far icon="clock"></mdb-icon>
                                                    <mdb-icon *ngIf="item.wasVisible" fas icon="check"></mdb-icon>
                                                    {{convertTimeZoneChat(item.dateTime)}}
                                                </small>
                                            </div>
                                            <hr class="w-100">
                                            <p class="mb-0">
                                                {{item.message}}
                                            </p>
                                        </div>
                                    </li>  
                                    <!-- Message in -->
                                    <li *ngIf="item.phoneFrom != phoneMain.phone" class="justify-content-between mb-4">
                                        <div class="chat-body chat-in p-3 mr-6 z-depth-1">
                                        <div class="header">
                                            <strong class="primary-font">{{phoneClient.name}}</strong>
                                            <a [href]="uriWhatsDialog+item.phoneFrom" target="_blank" style="margin: 4px; color: #14647F" href="#"><mdb-icon fab icon="whatsapp"></mdb-icon></a>
                                            <small class="pull-right text-muted">
                                                <mdb-icon *ngIf="!item.wasVisible" far icon="clock"></mdb-icon>
                                                <mdb-icon *ngIf="item.wasVisible" fas icon="check"></mdb-icon>
                                                {{convertTimeZoneChat(item.dateTime)}}
                                            </small>
                                        </div>
                                        <hr class="w-100">
                                        <p class="mb-0">
                                            {{item.message}}
                                        </p>
                                        </div>
                                        <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1"> -->
                                    </li>                
                                </ul>                               
                            </div>
                            <div *ngIf="selected" class="dialog-chat">
                                <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
                                    <div class="modal-footer bg-purple-primary">

                                        <div class="form-group mb-0 focused mr-3 input-search" >
                                            <div class="input-group input-group-alternative">
                                              <input dwsInputSlot class="form-control" #textAreaMessage formControlName="typedMessage"
                                                placeholder="Escreva sua mensagem aqui..."
                                                (keyup.enter)="sendMessage()" />
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-secondary" cdkFocusInitial>Enviar</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    <!-- Grid column -->  
                    </div>
                    <!-- Grid row -->  
                </div>
            </div>


          </div>
        </div>
      </div>
    </div>
</div>

