

.margin-content {
    margin-left: 60px;
}

.line-btn {
    width: 100%;
}

.logo {
    cursor: pointer;
}
.box-btns {
    @media screen and (max-width: 767px) {
        text-align: center;
      }
}