.close-Password{
    height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.resp-aut {
    margin-bottom: 256px;
}

.btn-edit-pass {
    margin-left: 20px;
    height: 52px;
    margin-top: 15px;
}