html,body {
    // font-family: var(--font-family-sans-serif);
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

// ###### BACKGROUND
.bg-primary-green {
    background-color: var(--color-primary-green);
}

.bg-secondary-green {
    background-color: var(--color-secondary-green);
}

.bg-primary-purple {
    background-color: var(--color-primary-purple);
}



// ######## INPUT
.input-custom {
    border: 1px solid var(--color-primary-green);
}

.input-group  {
    border: 1px solid var(--color-primary-green);
    border-radius: 50px;
    height: 55px;
    input, select {
        height: 53px;
        border-radius: 50px;
    }
    
    .passwordshow__Button {
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        background-color: #ffffff99;
        i {
            color: var(--color-primary-green);
        }
    }
}



// ####### BUTONS
.btn {
    border: none; 
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
}
.btn-primary {
   background-color: var(--color-primary-green);
   

   &:hover, &:active {
    background-color: var(--color-primary-green-2);
   }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--color-primary-green-2) !important;
    border-color: none;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--color-primary-green-2) !important;
    border-color: var(--color-primary-green-2) !important;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: var(--color-primary-green-2) !important;
    border-color: none;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.btn-secondary {
    background-color: var(--color-secondary-green);
}

.btn-purple-secondary {
    background: var(--color-secondary-purple) !important;
    color: #fff;
    &:hover, &:active {
        color: var(--color-primary-purple);
       }
}

.btn-secondary {
    background-color: var(--color-secondary-green);
}

// .btn-danger {
//     background-color: var(--color-primary-green);
    
 
//     &:hover, &:active {
//      background-color: var(--color-primary-green-2);
//     }
//  }
// ####################



// ##################  SPINNER 
// .spinner-border {
//     width: 4rem;
//     height: 4rem;
//     border: 0.4em solid currentColor;
// }
.spinner-primary-green {
    color: var(--color-primary-green) !important;
}

.spinner-secondary-green {
    color: var(--color-secondary-green) !important;
}

.spinner-primary-purple {
    color: var(--color-primary-purple) !important;
}
.box-loading {
    padding-top: 300px;
}
// #########################

// CARD

.card {
    border-radius: 40px;
}

.card-header-custom {
    background-color: var(--color-primary-purple);
    color: var(--color-secondary-green) !important;
    min-height: 95px;
    border-radius: 30px;
    padding: 5px;
    padding-right: 30px;

    img {
        max-width: 120px;
    }
    h2 {
        margin-top: 20px;
        font-weight: 500;
        color: var(--color-secondary-green) !important;

    }
}

.card {
    .footer-custom {
        margin-left: -48px;
        width: 138%;
        margin-bottom: -48px;
        border-radius: 25px;
        height: 70px;

        @media screen and (max-width: 600px) {
            width: 100vw;
            border-radius: 15px;
            margin-left: -35px;
            // margin-top: -53px;
            // height: 280px;
            // border-top-left-radius: 0;
            // border-top-right-radius: 0;
        }

        .link {
            padding-right: 40px;
            padding-top: 22px;
            a {
                color: var(--color-primary-purple);
                font-size: 16px;
                font-weight: 600 !important;
                // --font-family-monospace
            }
        }

        .logo-lines {
            width: 70px;
            margin-left: 20px;
            margin-top: 20px;
        }
    }
}
// ###################


// ####### stepper
// stepper-vertical
.stepper {
    li.completed a .circle {
        background-color: var(--color-secondary-green) !important;
    }
}
                    
.primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
    background-color: var(--color-secondary-green) !important;
}
.primary-color, ul.stepper li.active a .circle, ul.stepper li.active a .circle {
    background-color: var(--color-secondary-green) !important;
}

ul.stepper li.active a .label, ul.stepper li.completed a .label {
    color: var(--color-primary-purple);
}





// WHATSAPP
.whatsapp {
    display: flex;
    flex-direction: column;
    width: 100%;

    .whatsapp-toolbar {
        background-color: var(--color-primary-purple) !important;
        padding: 10px !important;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        // border-bottom: 1px solid rgb(234 234 234);
        display: flex;

        button {
            cursor: pointer;
            border: 0px;
            padding: 4px 6px;
            border-radius: 4px;
            margin: 0 2px;
            background-color: transparent;
            color: var(--color-secondary-green);
            &:hover {
                background-color: var(--color-secondary-purple);
                color: var(--color-primary-purple);
            }
        }
    }

    .whatsapp-editor {
        padding: 10px;
        min-height: 280px;
        outline: none;
        border: 1px !important;
        color:  var(--color-primary-purple) !important;
        background-color: var(--color-secondary-purple-2);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}



.table-responsive {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}