
:root {

    //cores
    --color-primary-green:  #05a777;
    --color-primary-green-2: #046649;
    --color-secondary-green: #b5f549;
    --color-dark-green: #02200e;
    --color-primary-purple: #575c90;
    --color-secondary-purple: #aeb4d7;
    --color-secondary-purple-2: #e9f1f6;
}