<div class="header bg-gradient-green2 pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-4 col-lg-12 mb-5">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="mb-0">Mensagens Cadastradas</h3>
                </div>
                <div class="card-body">
                    <table class="table align-items-center table-flush">
                        <tbody>
                            <tr *ngFor="let item of listMsg">
                                <th scope="row" class="w-100">{{item.title}}</th>
                                <td><i class="msg-edit fas fa-edit text-blue" (click)="editMsg(item)"></i> </td>
                                <td><i class="msg-edit fas fa-trash text-warning" (click)="openModal(item)"></i> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-12">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="mb-0">Editar/Criar</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="msgForm" (submit)="onSubmitForm($event)">
                        <div class="row">
                            <div class="col-12">
                                <dsw-input-control label="Titulo" for="title">
                                    <input dwsInputSlot class="form-control" id="title" formControlName="title"
                                        placeholder="" type="text" />
                                </dsw-input-control>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <dsw-input-control label="Mensagem" for="msg">
                                    <dsw-text-edit dwsInputSlot formControlName="msg"></dsw-text-edit>
                                </dsw-input-control>
                            </div>
                        </div>

                        <!-- Todo voltar com imagem depois que a API suportar -->
                        <!-- <div class="row mb-3">
                            <div class="col-12">                                
                                <label class="form-control-label" for="image">Imagem</label>
                                <dsw-file-image-view  id="image" formControlName="image"></dsw-file-image-view>                                
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<dsw-modal-base [showModal]="showModal" (closeModal)="closeModal()">
    <div class="container p-5">
        <p>Você realmente deseja excluir esta mensagem?</p>

        <p class="">
            <button class="btn btn-success" (click)="deleteMsg()">Sim</button>
            <button class="btn btn-warning" (click)="closeModal()">Não</button>
        </p>
    </div>
</dsw-modal-base>