
<div class="page-content container-fluid mt-3" >
  <div class="card-header border-2">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-between">
        <h3 class="mb-0 mt-2">Arquivos Importados</h3>
        <!-- <button type="submit" class="btn btn-secondary">Importar Arquivo</button> -->
        <div class="d-flex">

          <div class="form-group mb-0 focused mr-3 input-search" >
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Procurar arquivo" type="text" [(ngModel)]="nameFileSearch" (keyup)="searchFile($event)">
            </div>
          </div>
          <button class="btn btn-secondary" (click)="openModal()">  <i class="fa-solid fa-cloud-arrow-up mr-2"></i>Importar Arquivo</button>
        </div>

      </div>
    </div>
  </div>
  <div class="table-responsive shadow">
    <table class="table align-items-center table-flush">
      <thead class="thead-purple">
        <tr>
          <th scope="col">Nome do Arquivo</th>
          <th scope="col">Quantidade de Linhas</th>
          <th scope="col">Data da Importação</th>
          <th scope="col">Mensagem de Error</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of historyInputFile">
          <th scope="row">
           {{item.fileName}}
          </th>
          <td>
            {{item.lines | number :'4.0-0':'pt-BR'}}
          </td>
          <td>
            {{item.dateTime  | date: 'dd/MM/yyyy hh:MM:ss' : '+0300'}}
           </td>
          <td>
            {{item.messageError}}
          </td>
        </tr>
        <tr *ngIf="historyInputFile?.length === 0">
          <th scope="row" colspan="4" class="text-center" >
            Nenhum registro encontrado
          </th>
        </tr>
        <tr *ngIf="loading"> 
          <th colspan="4" class="text-center">
            <div class="spinner-border spinner-primary-green" role="status">
              <span class="sr-only">Carregando...</span>
            </div>
          </th>
        </tr>
      </tbody>
    </table>

  </div>
</div>

