/* You can add global styles to this file, and also import other style files */

.page-content {
    padding-top: 90px;
    padding-bottom: 60px;
}


.btn-close {
    background: var(--color-secondary-green);
    border: none;
    color: #fff;
    border-radius: 23px;
    padding: 10px;
    height: 40px;
    width: 40px;
    /* font-size: 21px; */
}

.modal-title {
    font-weight: 600;
    color: var(--color-primary-purple);
}

.card-header {
    background-color: var(--color-primary-purple) !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    h1, h2, h3, h4 {
        color: #fff;
        font-weight: 600;
    }
}



//############## MODAL

.modal-sm {
    .modal-dialog {
        max-width: 200px;
    }
}

.modal-md {
    .modal-dialog {
        max-width: 565px;
    }
}

.modal-md {
    .modal-dialog {
        max-width: 865px;
    }
}




// ################### BACKGROUND
.bg-purple-primary {
    background-color: var(--color-primary-purple);
}

.bg-green-secondary {
    background-color: var(--color-secondary-green);
}









.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group:not(.has-validation) > .input-group-append:not(:last-child) > .btn, .input-group:not(.has-validation) > .input-group-append:not(:last-child) > .input-group-text, .input-group.has-validation > .input-group-append:nth-last-child(n+3) > .btn, .input-group.has-validation > .input-group-append:nth-last-child(n+3) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}