<div class="header bg-gradient-green2 pb-8 pt-7">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="card-group">
        <div class="card card-stats p-2 mx-2 mt-4 position-relative" *ngIf="countSendMessage" >
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h6 class="card-title text-uppercase text-muted mb-1">Mensagens Enviadas</h6>
                <span class="h3 font-weight-bold mb-0">{{countSendMessage}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="card card-stats p-2 mx-2 mt-4 position-relative" *ngIf="countSendMessageThisMonth">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h6 class="card-title text-uppercase text-muted mb-1">Mensagens Enviadas / Jul</h6>
                <span class="h3 font-weight-bold mb-0">{{countSendMessageThisMonth}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="card card-stats p-2 mx-2 mt-4 position-relative" *ngIf="countReceiverAnswer">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h6 class="card-title text-uppercase text-muted mb-1">Mensagens Recebidas</h6>
                <span class="h3 font-weight-bold mb-0">{{countReceiverAnswer | number :'4.0-0':'pt-BR'}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-stats p-2 mx-2 mt-4 position-relative" *ngIf="countReceiverAnswerThisMonth">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h6 class="card-title text-uppercase text-muted mb-1">Mensagens Recebidas / Jul</h6>
                <span class="h3 font-weight-bold mb-1">{{countReceiverAnswerThisMonth | number :'4.0-0':'pt-BR'}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7 mb-5">
  <div class="row" *ngFor="let report of reportTemplates">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow mt-5">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Histórico: {{report.template}}</h3>
              <br>
              <span>Quantidade de Envios : {{report.countSendMessage}}</span>
              <br>
              <span>Quantidade de respostas : {{report.countReceiverAnswer}}</span>
              <br>
              <span>Quantidade de mensagens enviadas nesse mês : {{report.countSendMessageThisMonth}}</span>
              <br>
              <span>Quantidade de mensagens recebidas nesse mês : {{report.countReceiverAnswerThisMonth}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="report.totalAnswer.length > 0">
          <div class="table-responsive" >
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                 <th scope="col">Resposta</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Mês/Ano</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row" *ngFor="let answer of report.totalAnswer">
                  <th >
                   {{answer.answer}}
                  </th>
                  <td>  {{answer.count | number}} 
                  </td>
                  <td>
                   {{answer.month}}/{{answer.year}} 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div>
  
  <div class="container-fluid mt--7 mb-5">
    <div class="row">
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card shadow mt-5">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Histórico de Mensagens Enviadas</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Template</th>
                  <th scope="col">Data de Envio</th>
                  <th scope="col">Total</th>
                  <th scope="col">Com sucesso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historySenders">
                  <th scope="row">
                   {{item.template}}
                  </th>
                  <td>
                   {{item.dateTime  | date: 'dd/MM/yyyy hh:MM:ss' : '+0300'}}
                  </td>
                  <td>
                    {{item.count | number :'4.0-0':'pt-BR'}}
                  </td>
                  <td>
                    {{item.countOk | number :'4.0-0':'pt-BR'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  